<app-listing-data *ngIf="dataSource"
  [titlePage]="'Notas Fiscais Cadastradas'"
  [iconTitlePage]="'description'"
  [descriptionPage]="'Lista de Notas Fiscais salvas.'"
  [titleListing]="'Notas Fiscais salvas:'"
  [descriptionButton]="'Cadastra Nota Fiscal'"
  [tableColumns]="displayedColumns"
  [dataTable]="dataSource"
  [actionsTable]="['view', 'update', 'delete']"
  (save)="router.navigateByUrl('/dashboard/invoice')"
  (view)="router.navigateByUrl('/dashboard/invoice/view/'+ $event.id)"
  (update)="router.navigateByUrl('/dashboard/invoice/edit/'+ $event.id)"
  (delete)="deleteInvoice($event.id)"
></app-listing-data>
