$lancaNf-primary:(
  50 : #e4e0f1,
  100 : #bbb3db,
  200 : #8d80c4,
  300 : #5f4dac,
  400 : #3d269a,
  500 : #1b0088,
  600 : #180080,
  700 : #140075,
  800 : #10006b,
  900 : #080058,
  A100 : #8d8aff,
  A200 : #5b57ff,
  A400 : #2a24ff,
  A700 : #110aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$lancaNf-accent:(
  50 : #fce2e9,
  100 : #f8b8c9,
  200 : #f488a5,
  300 : #ef5881,
  400 : #eb3566,
  500 : #e8114b,
  600 : #e50f44,
  700 : #e20c3b,
  800 : #de0a33,
  900 : #d80523,
  A100 : #ffffff,
  A200 : #ffced3,
  A400 : #ff9ba5,
  A700 : #ff818e,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$lancaNf-warn:(
  50 : #fbe5e5,
  100 : #f5bebe,
  200 : #ee9393,
  300 : #e76767,
  400 : #e14747,
  500 : #dc2626,
  600 : #d82222,
  700 : #d31c1c,
  800 : #ce1717,
  900 : #c50d0d,
  A100 : #fff1f1,
  A200 : #ffbebe,
  A400 : #ff8b8b,
  A700 : #ff7272,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
