<app-listing-data *ngIf="dataSource"
  [titlePage]="'Despesas Cadastradas'"
  [iconTitlePage]="'shopping_cart'"
  [descriptionPage]="'Lista de Despesas salvas.'"
  [titleListing]="'Despesas salvas:'"
  [descriptionButton]="'Cadastra Despesa'"
  [tableColumns]="displayedColumns"
  [dataTable]="dataSource"
  [actionsTable]="['view', 'update', 'delete']"
  (save)="router.navigateByUrl('/dashboard/expense')"
  (view)="router.navigateByUrl('/dashboard/expense/view/'+ $event.id)"
  (update)="router.navigateByUrl('/dashboard/expense/edit/'+ $event.id)"
  (delete)="deleteExpense($event.id)"
></app-listing-data>
