<app-listing-data *ngIf="dataSource"
  [titlePage]="'Categoria de Despesas Cadastradas'"
  [iconTitlePage]="'production_quantity_limits'"
  [descriptionPage]="'Lista de Categoria salvas.'"
  [titleListing]="'Categoria salvas:'"
  [descriptionButton]="'Cadastra Categoria de Despesa'"
  [tableColumns]="displayedColumns"
  [dataTable]="dataSource"
  [actionsTable]="['view', 'update', 'delete']"
  (save)="router.navigateByUrl('/dashboard/expense-categori')"
  (view)="router.navigateByUrl('/dashboard/expense-categori/view/'+ $event.id)"
  (update)="router.navigateByUrl('/dashboard/expense-categori/edit/'+ $event.id)"
  (delete)="deleteExpenseCategori($event.id)"
></app-listing-data>
