<app-listing-data *ngIf="dataSource"
  [titlePage]="'Empresas Cadastradas'"
  [iconTitlePage]="'people'"
  [descriptionPage]="'Lista Empresas salvas.'"
  [titleListing]="'Empresas salvas:'"
  [descriptionButton]="'Cadastra Empresa'"
  [tableColumns]="displayedColumns"
  [dataTable]="dataSource"
  [actionsTable]="['view', 'update', 'delete']"
  (save)="router.navigateByUrl('/dashboard/company')"
  (view)="router.navigateByUrl('/dashboard/company/view/'+ $event.id)"
  (update)="router.navigateByUrl('/dashboard/company/edit/'+ $event.id)"
  (delete)="deleteCompany($event.id)"
></app-listing-data>
